<% if notice != nil %>
  <p id="notice" class="alert alert-success" role="alert">
    <%= notice %>
  </p>
<% end %>

<p>
	<%= image_tag @destination.avatar.url, alt: @destination.city %>
</p>
<p>
	<%= image_tag @destination.avatar.thumb.url, alt: @destination.city %>
</p>

<h1>
  <%= @destination.address %>
</h1>

<p>
	<%= @destination.latitude %>, <%= @destination.longitude %>
</p>

<p>
	<strong>Pop.:</strong> <%= number_with_delimiter @destination.population %>
</p>

<p>
  <%= @destination.description %>
</p>

<div id="destination-map"></div>


<div class="btn-group">
	<%= link_to 'Edit', edit_destination_path(@destination), class: "btn btn-warning" %>
	<%= link_to 'Back', destinations_path, class: "btn btn-default" %>
</div>

<%= javascript_tag do %>
  var latitude = '<%= j @destination.latitude.to_s %>';
  var longitude = '<%= j @destination.longitude.to_s %>';
  var address = '<%= j @destination.address %>';
  var description = '<%= j @destination.description %>';
<% end %>




